@model ComplaintIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Complaints" asp-action="Index" method="get" >
    <h4>
        <select type="submit" asp-for="SelectMode" asp-items="Model.Modes" onchange="this.form.submit()">

        </select>
    </h4>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Inhoud")
            </th>
            <th>
                @Html.DisplayName("Gestuurd door")
            </th>
            <th>
                @Html.DisplayName("Klachttype")
            </th>
            <th>
                @Html.DisplayName("Verstuurd")
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Complaints) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complaintLogger.FirstName)
            </td>
                <td>
				@Html.DisplayFor(modelItem => item.ComplaintType.TypeName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
